@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
}

/* utilities */

p {
    font-size: 15px;
}

.container {
    margin: auto;
    max-width: 1000px;
    /* padding: 0 20px; */
    overflow: hidden;
}

.bg-gray {
    color: hsl(233, 8%, 79%);
}

.bg-dark-gray {
    color: hsl(236, 13%, 42%);
}

.bg-dark-blue {
    background: hsl(240, 100%, 5%);
    color:hsl(36, 100%, 99%);
}
.l-heading{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size:24px;
    /* text-align: justify; */
}

/* navbar */

#navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar ul li{
    list-style: none;
    /* display: flex; */
    padding: 0 10px;
}
#navbar ul li a{
text-decoration: none;
color: hsl(233, 8%, 79%);
text-align: center;
}
#navbar ul li a:hover{
color: hsl(35, 77%, 62%);
}

#showcase{
    display: flex;
}

#showcase .main-info{
display: flex;
flex-direction: column;
flex: 2;
margin-right: 20px;
}

#showcase .main-info .img img{
    height: 250px;
    width: 100%;
}

#showcase .main-info .content{
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */

}
#showcase .main-info .content .main-box h3{
font-weight: 800;
font-size: 33px;
}

#showcase .main-info .content .s-heading{
    padding-left: 4rem;
    font-weight: 400;
    font-size: 24x;
    position: relative;
}

#showcase .main-info .content .s-heading a{
position: absolute;
bottom: 0;
padding: 8px 25px;
background: hsl(5, 85%, 63%);
text-decoration: none;
color: white;
font-size: 14px;
}

#showcase .main-info .content .s-heading a:hover{
    background: hsl(240, 100%, 5%);
    
}
    
#showcase .primary-info{
    background: hsl(240, 100%, 5%);
    flex: 1;
    color: hsl(233, 8%, 79%);
    /* padding: 1rem; */
    line-height: 1.5;

}
#showcase .primary-info .title{
    padding-top: 15px;
    /* padding: 20px 0 ; */
    padding-left: 10px;
    font-weight: 700;
    font-size: 35px;
    color: hsl(35, 77%, 62%);
    /* padding-bottom: 20px; */
}

#showcase .primary-info h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

#showcase .primary-info .box{
     padding: 15px;
}
hr{
    margin: 0 15px;
    border-radius: 5px;
    border:0.1px thin  hsl(36, 100%, 99%);
}
#cards{
    padding:0px 0px;
    padding-top: 50px;
    display: flex;
    /* display: inline-block; */
}
#cards .card-img img{
    width: 100px;
    padding-right: 20px;
    display: inline-block;
}
#cards .card{
    display: flex;
    /* padding-right: 50px; */
}

#cards .card h1, 
#cards .card h4{ 
padding-bottom: 5px;

}

#cards .card h4:hover{
    color:hsl(5, 85%, 63%);
    cursor:pointer;
}

#cards .card p{
    padding-top: 5px;
    line-height: 1.4;
    font-weight: 500;
}